/* body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

a {
    text-decoration: none;
    color: black;
    padding-right: 50px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #363062;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 80px;
    margin-right: 15px;
}

.logo-nombre {
    font-size: 1.3rem;
}

nav a:hover {
    color: white;
}

.nav-link {
    font-size: 20px;
}
