@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');

/* Diseño para la pagina principal  */

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.7em;
}

p {
    font-size: 1.25em;
}

.boton-index {
    width: 25%;
    display:block;
    background: #4D4C7D;
    border: none;
    padding: 5px;
    color: white;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(recursos/inicio.jpg);
    background-size: cover;
    background-position: center;
}

#somos-tla .contenedor{
    padding: 100px 12px;
    display: flex;
    justify-content: center;
}

#somos-tla .textoi {
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
}

#somos-tla .contenedor-img {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(recursos/tla.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 50%;
}

/* Ajustes genrales (cuerpo,encabezado y pie de pagina*/

body {
    height: 1200px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav .nav-link {
    text-decoration: none;
    color: white;
    padding-right: 50px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #363062;
    color: white;
}



.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 80px;
    margin-right: 15px;
}

.logo-nombre {
    font-size: 1.3rem;
    color: white;
}

nav a:hover {
    color: black;
}

.nav-link {
    font-size: 20px;
    color: white;
}

footer {
    background-color: #363062;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

.alinear p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
}
.contacto {
    padding-top: 10px;
    padding-right: 20px;
}

/* Fondo de los formularios de registro y control */

.formulario {
    width: 450px;
    background-color: #FFF2F2;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 30px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px  0px 440px #363062;
}

.formulario_grande {
    width: 1200px;
    background-color: #FFF2F2;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 30px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px  0px 440px #363062;
}

/* Diseño de los textos dentro del formulario */
.formulario h2 {
    color: #363062;
    text-align: center;
    font-size: 35px;
    margin: 15px;

}

.formulario_grande h2 {
    color: #363062;
    text-align: center;
    font-size: 35px;
    margin: 15px;

}

/* Diseño a las entradas por teclado */
.form_input {
    width: 90%;
    background: #e6dee9;
    padding: 8px;
    border-color: #ECB390;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: cadetblue;
}

/* Diseño a los botones tanto individuales como los grupales */
.boton {
    width: 25%;
    display:block;
    background: #4D4C7D;
    border: none;
    padding: 5px;
    color: black;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

.final_login_1 {
    display: block;
    text-align: center;
    padding: 15px;
}

.final_login_2 {
    display: block;
    text-align: center;

}

.botonera {
    display: flex;
    justify-content: center;
}
.botones_reg {
    width: 25%;
    display:inline-block;
    background: #4D4C7D;
    border: none;
    padding: 5px;
    color: black;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    
}

.barra_busqueda {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.barra {
    padding-right: 100px;
    width: 55%;
    background: #e6dee9;
    padding: 4px;
    border-color: #ECB390;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: cadetblue;
}

.boton_busqueda {
    margin-left: 10px;
    width: 15%;
    background: #6C969D;
    border: none;
    padding: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
button:hover {
    background: #f1a7ba;
}

button:active {
    background-color: #3eaeca;
}

a:hover {
    background: #f1a7ba;
}

a:active {
    background-color: #3eaeca;
}

a {
    color: #363062;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.formulario_grande h3 {
    margin-left: 60px;
}

/* Diseño para las tablas y contenido */

table {
    width: 90%;
    background-color: #a6c1ee;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color: #363062;
    color: white;
}

th, td {
    padding: 10px;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
}

.contenedor {
    margin: 0;
}

.textos a {
    text-decoration: none;
    color: black;
}

