@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');

body {
    height: 1000px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav .nav-link {
    text-decoration: none;
    color: white;
    padding-right: 50px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #363062;
    color: white;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 80px;
    margin-right: 15px;
}

.logo-nombre {
    font-size: 1.3rem;
    color: white;
}

nav a:hover {
    color: black;
}

.nav-link {
    font-size: 20px;
    color: white;
}

footer {
    background-color: #363062;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}
.formulario {
    width: 450px;
    background-color: #FFF2F2;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 30px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px  0px 440px #363062;
}

.formulario_grande {
    width: 1200px;
    background-color: #FFF2F2;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 30px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px  0px 440px #363062;
}

.formulario h2 {
    color: #363062;
    text-align: center;
    font-size: 35px;
    margin: 15px;

}

.formulario_grande h2 {
    color: #363062;
    text-align: center;
    font-size: 35px;
    margin: 15px;

}

.form_input {
    width: 90%;
    background: #e6dee9;
    padding: 8px;
    border-color: #ECB390;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: cadetblue;
}


.boton {
    width: 25%;
    display:block;
    background: #4D4C7D;
    border: none;
    padding: 5px;
    color: black;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

.final_login_1 {
    display: block;
    text-align: center;
    padding: 15px;
}

.final_login_2 {
    display: block;
    text-align: center;

}

.botonera {
    display: flex;
    justify-content: center;
}
.botones_reg {
    width: 25%;
    display:inline-block;
    background: #4D4C7D;
    border: none;
    padding: 5px;
    color: black;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    
}

.barra_busqueda {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.barra {
    padding-right: 100px;
    width: 55%;
    background: #e6dee9;
    padding: 4px;
    border-color: #ECB390;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: cadetblue;
}

.boton_busqueda {
    margin-left: 10px;
    width: 15%;
    background: #6C969D;
    border: none;
    padding: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
button:hover {
    background: #f1a7ba;
}

button:active {
    background-color: #3eaeca;
}

a {
    color: #363062;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    color: #87805E;
}

.formulario_grande h3 {
    margin-left: 60px;
}

table {
    width: 90%;
    background-color: #a6c1ee;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color: #363062;
    color: white;
}

th, td {
    padding: 10px;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
}

.contenedor {
    margin: 0;
}

.textos a {
    text-decoration: none;
    color: black;
}

