
@import url('https://fonts.googleapis.com/css2? familia=Montserrat:wght@500&display=swap');

.form-contenedor {
    width: 400px;
    background: #16181d;
    padding: 40px;
    margin: auto;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    box-shadow: 7px 13px 37px #000;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3e5f84;
    opacity: 1;
    background-image:  radial-gradient(#130a19 0.9px, transparent 0.9px), radial-gradient(#130a19 0.9px, #3e5f84 0.9px);
    background-size: 36px 36px;
    background-position: 0 0,18px 18px;
}
.form-contenedor h2 {
    font-size: 30px;
    margin: auto;
}

#registrar {
    color: #00ADB5;
    text-align: center;
    padding: 10px;
}

.text {
    font-size: 15px;
    
}

.form_input {
    width: 95%;
    background: #24303c;
    padding: 8px;
    border-color: rgba(0, 255, 255, 0.336);
    border-radius: 4px;
    font-family: 'calibri';
    font-size: 14px;
    color: cadetblue;
}

.botones {
    width: 85%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 20px ;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 20px;
}