@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');

body {
    height: 1000px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}


.formulario {
    width: 450px;
    background-color: #FFF2F2;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 30px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px  0px 440px #363062;
}

.formulario h2 {
    color: #363062;
    text-align: center;
    font-size: 35px;
    margin: 15px;

}

.form_input {
    width: 90%;
    background: #e6dee9;
    padding: 8px;
    border-color: #ECB390;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: cadetblue;
}

.boton {
    width: 30%;
    display: block;
    background: #4D4C7D;
    border: none;
    padding: 10px;
    color: black;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
}

.final_login_1 {
    display: block;
    text-align: center;
    padding: 15px;
}

.final_login_2 {
    display: block;
    text-align: center;

}

.botonera {
    display: flex;
    justify-content: space-between;
}
.botones_reg {
    width: 30%;
    display:inline-block;
    background: #4D4C7D;
    border: none;
    padding: 10px;
    color: black;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    
}

button:hover {
    background: #f1a7ba;
}

button:active {
    background-color: #3eaeca;
}

a {
    color: #363062;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    color: #87805E;
}




